/* Container geral dos gráficos */
.analytics-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

/* Cada seção de gráfico */
.chart-section {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Ajuste do título */
.chart-section h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

/* Canvas controlado */
.chart-section canvas {
    width: 100% !important;
    max-width: 500px;
    /* limite horizontal */
    height: 300px !important;
    /* altura fixa */
}

#vendasBoosters {
    height: 250px;
    width: 400px;
}

#salesChart {
    height: 400px;
}

#distribuicaoEstoque {
    width: 350px;

}

#tipoPokemon {
    height: 400px;
    width: 620px;
    margin-left: -650px;
}

#pokemonTypesChart {
    margin: 80px;

}

#tipoPokemon h2{
    margin-bottom: -80px;
}

#vendasLucro {
    height: 500px;
    width: 600px;
}

#lucroProduto {
    height: 500px;
    width: 350px;
}

#profitChart {
    margin-left: -20px;
}

.container-graficosLucro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}